.searchBar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space {
  margin-bottom: 20px;
}

.songs {
  font-size: large;
}

.white {
  color: white
}

.center {
  text-align: center;
}

.green {
  color: #1DB954;
  text-decoration: none;
}